.qrcode {
  display: flex;
  justify-content: center;
}

.qrcodeBtn {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}  

.areaShare {
  text-align: center;
  background: white;
  border-radius: 7px;
  border: 1px solid #CDCDD0;
  display: flex;
  justify-content: center;
}

.areaComment {
  display: flex;
  justify-content: center;
}

.areaPush {
  display: flex;
  justify-content: center;
}