.shareComment {
  text-align: center;
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 10px;
}

.shareLink {
  display: flex;
  justify-content: center;
  font-size: 17px;
  text-underline-position: under;
}

.areaShare {
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  background: white;
  border: none;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.areaComment {
  display: flex;
  justify-content: center;
}

.areaPush {
  display: flex;
  justify-content: center;
} 

@media (max-width: 500px) {
  .shareComment {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  
  .shareLink {
    display: flex;
    justify-content: center;
    font-size: 10px;
    text-underline-position: under;
  }

}