/* Likertchart.js */
fieldset.likertScale .likertIndicator {
    border: solid #0D6EFD;
    background-color: white;
    border-radius: 1.0em;
  }
  
  fieldset.likertScale .likertLine {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin-top: 0.5em;
    border-top: 3px solid #0D6EFD;
  }
  fieldset.likertScale .likertResponse > input:checked + .likertIndicator {
    background-color: #0D6EFD;
  }
  