.right {
    width: 50%;
    height: auto;
    float: right;
    box-sizing: border-box;
    margin: 0;
    overflow: auto;
    padding: 0;
}

.form-control {
    background-color: #f9f9f9;
    border:none;
}

.form-control:focus {
    box-shadow: none;
    background-color: white;
    border: solid;
}
